
*,
*::after,
*::before {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

::backdrop {
  background-color: #000;
  opacity: 0.75;
}

html {
  font-size: 18px;
}

body {
  min-inline-size: 375px;
  max-inline-size: 696px;
  margin: 0 auto;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 1rem;
  line-height: normal;
}

a {
  color: inherit;
}

button,
input {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
