
:root, :root.theme-dark {
  --themes-main-color: var(--pressing-my-luck);
  --themes-second-color: var(--black);
  --shadow-color: var(--black);
}

:root.theme-light {
  --themes-main-color: var(--black);
  --themes-second-color: var(--white);
  --themes-font-wight-default: 400;
  --themes-font-wight-accent: 700;
  --shadow-color: var(--white);
}

html {
    background-image: var(--dark-background-gradient);
    background-attachment: fixed;
    background-size: cover;
}

html.theme-dark {
  background-image: var(--dark-background-gradient);
}

html.theme-light {
  background-image: var(--light-background-gradient);
}

/* Like button dark */

.save-button,
.theme-dark .save-button {
  color: var(--themes-main-color);
}

.card__like-button::after,
.theme-dark .card__like-button::after,
.save-button::after,
.theme-dark .save-button::after {
  background-color: var(--themes-main-color);
}

.card__like-button:hover::after,
.theme-dark .card__like-button:hover::after {
  color: var(--themes-second-color);
  background-color: var(--themes-main-color);
}

/* Like button light */

.theme-light .card__like-button::after,
.theme-light .save-button::after {
  background-color: var(--themes-second-color);
}

.theme-light .card__like-button:hover::after,
.theme-light .save-button:hover::after {
  color: var(--themes-main-color);
  background-color: var(--themes-second-color);
}

@media (prefers-color-scheme: light) {

  :root {
    --themes-main-color: var(--black);
    --themes-second-color: var(--white);
    --themes-font-wight-default: 400;
    --themes-font-wight-accent: 700;
    --shadow-color: var(--white);
  }
  
  html {
      background-image: var(--light-background-gradient);
  }

  .card__like-button::after,
  .save-button::after {
    background-color: var(--themes-second-color);
  }

  .card__like-button:hover::after {
    color: var(--themes-main-color);
    background-color: var(--themes-second-color);
  }
}