
:root {
    --pressing-my-luck: #00CC14;
    --black: #000;
    --white: #fff;
    --red: red;
    --pinball: #d3d3d3;
    --ao: #007f0c;
    --woodland-grass: #004306;
    --placebo: #e7e7e7;
    --eerie-black: #1a1a1a;

    --themes-main-font: sans-serif;
    --themes-accent-font: 'Press Start 2P';
    --themes-font-wight-default: 465;
    --themes-font-wight-accent: 785;

    --themes-border: 2px solid var(--themes-main-color);
    --themes-button-shadow: 2px 2px 0 var(--themes-main-color);

    --heart-fill-color: var(--red);
    --heart-sparkl-color: var(--red);   

    --shadow-color: var(--black);
    --text-shadow: 
        -1px 0 var(--shadow-color), 
        0 1px var(--shadow-color), 
        1px 0 var(--shadow-color), 
        0 -1px var(--shadow-color);

    --dark-bg-repeating-gradient-color: var(--black);
    --dark-light-repeating-gradient-color: var(--pinball);
    --dark-bg-linear-gradient-color-top: var(--ao);
    --dark-bg-linear-gradient-color-bottom: var(--woodland-grass);
    --light-bg-linear-gradient-color-top: var(--placebo);
    --light-bg-linear-gradient-color-bottom: var(--eerie-black);

    --bg-gradient-size: 2px;
    --bg-gradient-vector-one: 90deg;
    --bg-gradient-vector-two: 180deg;

    --dark-background-gradient:
        repeating-linear-gradient(
            var(--bg-gradient-vector-one), 
            var(--dark-bg-repeating-gradient-color) 0 var(--bg-gradient-size), 
            transparent var(--bg-gradient-size) calc(var(--bg-gradient-size) * 2)
        ),

        repeating-linear-gradient(
            var(--bg-gradient-vector-two), 
            var(--dark-bg-repeating-gradient-color) 0 var(--bg-gradient-size), 
            transparent var(--bg-gradient-size) calc(var(--bg-gradient-size) * 2)
        ),

        linear-gradient(
            var(--dark-bg-linear-gradient-color-top),
            var(--dark-bg-linear-gradient-color-bottom));

    --light-background-gradient:
        repeating-linear-gradient(
            var(--bg-gradient-vector-one), 
            var(--dark-light-repeating-gradient-color) 0 var(--bg-gradient-size), 
            transparent var(--bg-gradient-size) calc(var(--bg-gradient-size) * 2)
        ),

        repeating-linear-gradient(
            var(--bg-gradient-vector-two),  
            var(--dark-light-repeating-gradient-color) 0 var(--bg-gradient-size), 
            transparent var(--bg-gradient-size) calc(var(--bg-gradient-size) * 2)
        ),

        linear-gradient(
            var(--light-bg-linear-gradient-color-top) 0% 0.01%,
            var(--light-bg-linear-gradient-color-bottom));      
}

@supports (font-variation-settings: normal) {
    
    :root {
        --themes-main-font: 'Inter';
    }
} 