
.card {
    display: grid;
    font-family: var(--themes-main-font), Arial, Helvetica, sans-serif;
    color: var(--themes-main-color);
    background-color: var(--themes-second-color);
    border: var(--themes-border);
    container: card / inline-size; 
}

.card__title {
    padding: 5px 10px 4px;
    font-weight: var(--themes-font-wight-accent);
    border-block-end: var(--themes-border);
}

.card__img-wrapper {
    position: relative;
    overflow: hidden;
    aspect-ratio: 1 / 1; 
}

.card__img {
    object-fit: cover;
    object-position: right center;
    block-size: 100%;
    inline-size: clamp(375px, 100vw, 100%);
    
}

.card__img-label {
    position: absolute;
    inset-inline-end: 12px;
    inset-block-start: 25px;
    font-family: var(--themes-accent-font), fantasy;
    font-size: 14px;
    color: var(--themes-main-color);
    mix-blend-mode: hard-light;
    opacity: 0.5;
    text-shadow: var(--text-shadow);
    z-index: 1;
}

.card:nth-child(-n+3) .card__img-label {
    text-transform: uppercase;
}

.card__text {
    font-weight: var(--themes-font-wight-default);
    line-height: 116.667%;
    padding: 26px 29px 0 25px;
    border-block-start: var(--themes-border);
}

.card__reaction {
    font-weight: var(--themes-font-wight-default);
    line-height: 116.667%;
    padding: 27px 30px 0 25px;
}

@supports((text-stroke: 1px #000000) or (-webkit-text-stroke: 1px #000000)) {
    
    .card__img-label {
        -webkit-text-stroke: 0.2px var(--shadow-color);
        text-stroke: 1px var(--shadow-color);
        text-shadow: none;
    }
}

@container (inline-size > 376px) {

    .card__text {
        padding: 29px 24px 0 25px;
    }
    
    .card__title {
        padding: 5px 9px;
    }

    .card__img-label {
        inset-inline-end: 23px;
    }
}
