
.header {
    display: grid;
    justify-content: center;
    align-content: center;
    color: var(--themes-main-color);
    background-color: var(--themes-second-color);
    border: var(--themes-border);
    margin: 102px 0 100px;
    padding: 118px 0 20px;
    container: header / inline-size;
}

.header__title {
    font-size: clamp(49px, 7vw, 65px);
    margin-block-end: 20px;
    font-weight: 400;
}

.header__subtitle {
    font-size: clamp(14px, 2.5vw, 23px);
    margin-block-end: 22px;
}

.header__title, .header__subtitle {
    font-family: var(--themes-accent-font), fantasy;
    text-transform: uppercase;
    text-align: center;
}

@container page (inline-size > 376px) {
    
    .header {
        padding: 134px 0 20px;
    }
}
