
.theme-menu__list {
    display: grid;
    gap: 8px;
    justify-content: center;
    padding-inline-start: 20px;
}

.theme-menu__button {
    font-family: var(--themes-accent-font), fantasy;
    text-transform: uppercase;
    background-color: transparent;
    font-size: 14px;
    border: 0;
    position: relative;
}

.theme-menu__button:disabled {
    pointer-events: none;
}
