
.footer {
    display: flex;
    flex-direction: column;
    margin: 56px 0 102px;
    align-items: center;
}

.footer__icon {
    inline-size: 29px;
    block-size: 29px;
}


@container (inline-size > 376px) {

    .footer {
        margin-block-start: 48px;
    }
  }