
.popup[open] {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--themes-second-color);
    border: var(--themes-border);
    padding: 32px 42px;
    min-inline-size: calc(100% - 34px);
}

.popup__container {
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: var(--themes-accent-font), fantasy; 
    font-size: 14px;
    line-height: 150%;
    text-transform: uppercase;
    color: var(--themes-main-color);
}

.popup__icon {
    inline-size: 39px;
    block-size: 39px;
}

.popup__text {
    max-inline-size: 198px;
}


@container page (inline-size > 376px) {
    
    .popup[open] {
        min-inline-size: 357px;
        padding: 32px 32px 30px 31px;
    }

    .popup-close .save-button {
        inline-size: 100%;
    }
}
