
.popup {
    background-color: var(--themes-second-color);
    border: var(--themes-border);
    padding: 32px 35px;

}

.popup__container {
    display: flex;
    align-items: center;
    min-inline-size: 257px;
    gap: 20px;
    font-family: var(--themes-accent-font), fantasy; 
    font-size: 14px;
    line-height: 150%;
    text-transform: uppercase;
    color: var(--themes-main-color);
    max-height: 60px;
    margin-block-end: 30px;
}

.popup__icon {
    inline-size: 39px;
    block-size: 39px;
}

.popup__text {
    max-inline-size: 198px;
}